# MailerLite API
MAILERLITE_API_TOKEN=
# Opcjonalne; domyślnie: https://connect.mailerlite.com/api
MAILERLITE_API_URL=https://connect.mailerlite.com/api
# Opcjonalne; domyślnie 30000 ms
MAILERLITE_SYNC_INTERVAL_MS=30000
# Adres API głównej domeny wykorzystywany przez aplikację mediacji
MEDIATION_API_URL=https://polskiebudownictwo.org
